<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496657920910-q5quooq8s7v5df7f4ujj47am21m5ouip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496657920910-q5quooq8s7v5df7f4ujj47am21m5ouip</string>
	<key>API_KEY</key>
	<string>AIzaSyCpO3BsZA_tPNVYjkrLWB3TjJJU91q2kNM</string>
	<key>GCM_SENDER_ID</key>
	<string>496657920910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homayounrad.HomayounSocial</string>
	<key>PROJECT_ID</key>
	<string>homayounproject</string>
	<key>STORAGE_BUCKET</key>
	<string>homayounproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496657920910:ios:ad96c457cf86437f432adf</string>
	<key>DATABASE_URL</key>
	<string>https://homayounproject.firebaseio.com</string>
</dict>
</plist>